html{ font: 13px/18px Arial; }	
body{ margin: 0; }
button, input{ font-family: inherit; }
table{ border-collapse: collapse; }


.popup-wrap{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	background: rgba(0,0,0, 0.8);
	text-align: center;
}
.popup-wrap:after{
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 0;
	height: 100%;
}
.popup-inner{
	position: relative;
	display: inline-block;
	vertical-align: middle;
	width: 800px;
	text-align: left;
	background: #fff;
}
.popup-close { position: absolute; top: 0; right: 0; cursor: pointer;}